{{>search-students-box}}

{{>logs-list}}

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--3-col"></div>
    <table class="mdl-cell--6-col mdl-cell--8-col-tablet">
        <tbody>
            <tr>
                <td class="mdl-data-table__cell--non-numeric" colspan="2">
                    Søk frem elever ved å skrive hele, eller deler av, navnet i søkefeltet.<br/><br/>
                    Fra siden med søkeresultater resultatlisten kan du sende varsler eller se oversikt over tidligere sendte varsler.<br/><br/>
                </td>
            </tr>
            <tr>
                <td class="mdl-data-table__cell--non-numeric"><i class="material-icons">home</i></td>
                <td class="mdl-data-table__cell--non-numeric">Til forsiden</td>
            </tr>
            <tr>
                <td class="mdl-data-table__cell--non-numeric"><i class="material-icons">help_outline</i></td>
                <td class="mdl-data-table__cell--non-numeric">Hjelp</td>
            </tr>
            <tr>
                <td class="mdl-data-table__cell--non-numeric"><i class="material-icons">list</i></td>
                <td class="mdl-data-table__cell--non-numeric">Aktivitetslogg</td>
            </tr>
            <tr>
                <td class="mdl-data-table__cell--non-numeric"><i class="material-icons">power_settings_new</i></td>
                <td class="mdl-data-table__cell--non-numeric">Avslutt/Logg ut av {{systemName}}</td>
            </tr>
        </tbody>
    </table>
    <div class="mdl-cell mdl-cell--3-col"></div>
</div>

<!-- Helperscript for search -->
<script src="/public/js/searchform-validate.js"></script>